.event {
  background-color: royalblue;
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  border: black solid 1px;
  border-radius: 1.5rem;
  margin: 0.5rem;
  justify-content: space-between;
}

.event_info {
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 0rem;
}

p {
  margin: 0rem;
}

.deleteEventBtn {
  background-color: red;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1.5rem;
  margin: 0.5rem 0rem;
  color: black;
}